<a href="https://colab.research.google.com/github/harperd17/energy_volatility_prediction/blob/main/notebooks/US_Census_Ingestion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Goal of Notebook - Read US Census data for 2001 -2020

In [ ]:
try:
    from google.colab import drive

    drive.mount('./drive/')

    %cd drive/Shareddrives/Data606_Energy

except:
    print("No Colab Environment")

Mounted at ./drive/
/content/drive/Shareddrives/Data606_Energy

In [ ]:
import sys
import pandas as pd
import numpy as np
import glob
from tqdm.autonotebook import tqdm
import plotly.express as px
sys.path.append("helpers/")

from energygrid import EGRID

from helper_functions import write_csv,combine_like_files

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  """

In [ ]:
import json

with open("resources/us_state_abbreviation.json") as f:

    us_states = json.loads(f.read())

In [ ]:
df_state_names = pd.DataFrame([us_states.keys(),us_states.values()]).T.rename(columns={0:"state_name",1:"abbrv"}).query('state_name != "Puerto Rico"')

In [ ]:
df_state_names.head()

   state_name abbrv
0     Alabama    AL
1      Alaska    AK
2     Arizona    AZ
3    Arkansas    AR
4  California    CA

In [ ]:
url_2000_2009 = "https://www2.census.gov/programs-surveys/popest/tables/2000-2010/intercensal/state/st-est00int-01.xls"

df_2000_2009_data = (pd.read_excel(url_2000_2009,header=[3])
                .rename(columns={"Unnamed: 0":"state_name"})
                .drop(columns=["Unnamed: 1","Unnamed: 12","Unnamed: 13"])
                )

df_2000_2009_data

                                           state_name  ...         2009
0                                       United States  ...  306771529.0
1                                           Northeast  ...   55133101.0
2                                             Midwest  ...   66748437.0
3                                               South  ...  113548615.0
4                                                West  ...   71341376.0
..                                                ...  ...          ...
61  Note: See Geographic Terms and Definitions at ...  ...          NaN
62                                Suggested Citation:  ...          NaN
63  Table 1. Intercensal Estimates of the Resident...  ...          NaN
64    Source: U.S. Census Bureau, Population Division  ...          NaN
65                      Release Date: September 2011   ...          NaN

[66 rows x 11 columns]

In [ ]:
df_2000_2009_data.head(10)

      state_name         2000  ...         2008         2009
0  United States  282162411.0  ...  304093966.0  306771529.0
1      Northeast   53666295.0  ...   54875926.0   55133101.0
2        Midwest   64491431.0  ...   66523935.0   66748437.0
3          South  100565549.0  ...  112184930.0  113548615.0
4           West   63439136.0  ...   70509175.0   71341376.0
5       .Alabama    4452173.0  ...    4718206.0    4757938.0
6        .Alaska     627963.0  ...     687455.0     698895.0
7       .Arizona    5160586.0  ...    6280362.0    6343154.0
8      .Arkansas    2678588.0  ...    2874554.0    2896843.0
9    .California   33987977.0  ...   36604337.0   36961229.0

[10 rows x 11 columns]

In [ ]:
df_2000_2009_data["state_name"] = df_2000_2009_data["state_name"].str.strip(".")

df_2000_2009 = df_state_names.merge(df_2000_2009_data,on="state_name",how="left").dropna()

df_2000_2009.head()

   state_name abbrv        2000  ...        2007        2008        2009
0     Alabama    AL   4452173.0  ...   4672840.0   4718206.0   4757938.0
1      Alaska    AK    627963.0  ...    680300.0    687455.0    698895.0
2     Arizona    AZ   5160586.0  ...   6167681.0   6280362.0   6343154.0
3    Arkansas    AR   2678588.0  ...   2848650.0   2874554.0   2896843.0
4  California    CA  33987977.0  ...  36250311.0  36604337.0  36961229.0

[5 rows x 12 columns]

In [ ]:
# Not used anymore
url_2010_2019 = "https://www2.census.gov/programs-surveys/popest/tables/2010-2020/state/totals/nst-est2020.xlsx"
df_2010_2019_data = pd.read_excel(url_2010_2019,header=[3]).rename(columns={"Unnamed: 0":"state_name"}).drop(columns=["Census","Estimates Base","April 1","July 1"])
df_2010_2019_data["state_name"] = df_2010_2019_data["state_name"].str.strip(".")

In [ ]:
df_2010_2019_data.query('state_name == "Alabama"')

  state_name       2010       2011  ...       2017       2018       2019
5    Alabama  4785514.0  4799642.0  ...  4877989.0  4891628.0  4907965.0

[1 rows x 11 columns]

In [ ]:
df_2010_2020 = pd.read_csv("https://www2.census.gov/programs-surveys/popest/datasets/2010-2020/state/totals/nst-est2020.csv")

df_2010_2020_states = df_state_names.merge(df_2010_2020,left_on="state_name",right_on="NAME").drop(columns=["POPESTIMATE042020"])

In [ ]:
keep_cols = [col for col in df_2010_2020_states.columns if col.startswith("POPESTIMATE") or "state" in col or "abbrv" in col]

df_2010_2020_states_trim = df_2010_2020_states[keep_cols]

In [ ]:
df_2010_2020_states_trim

              state_name abbrv  ...  POPESTIMATE2019  POPESTIMATE2020
0                Alabama    AL  ...          4907965          4921532
1                 Alaska    AK  ...           733603           731158
2                Arizona    AZ  ...          7291843          7421401
3               Arkansas    AR  ...          3020985          3030522
4             California    CA  ...         39437610         39368078
5               Colorado    CO  ...          5758486          5807719
6            Connecticut    CT  ...          3566022          3557006
7               Delaware    DE  ...           976668           986809
8                Florida    FL  ...         21492056         21733312
9                Georgia    GA  ...         10628020         10710017
10                Hawaii    HI  ...          1415615          1407006
11                 Idaho    ID  ...          1789060          1826913
12              Illinois    IL  ...         12667017         12587530
13               Indiana    IN  ...          6731010          6754953
14                  Iowa    IA  ...          3159596          3163561
15                Kansas    KS  ...          2912635          2913805
16              Kentucky    KY  ...          4472345          4477251
17             Louisiana    LA  ...          4658285          4645318
18                 Maine    ME  ...          1345770          1350141
19              Maryland    MD  ...          6054954          6055802
20         Massachusetts    MA  ...          6894883          6893574
21              Michigan    MI  ...          9984795          9966555
22             Minnesota    MN  ...          5640053          5657342
23           Mississippi    MS  ...          2978227          2966786
24              Missouri    MO  ...          6140475          6151548
25               Montana    MT  ...          1070123          1080577
26              Nebraska    NE  ...          1932571          1937552
27                Nevada    NV  ...          3090771          3138259
28         New Hampshire    NH  ...          1360783          1366275
29            New Jersey    NJ  ...          8891258          8882371
30            New Mexico    NM  ...          2099634          2106319
31              New York    NY  ...         19463131         19336776
32        North Carolina    NC  ...         10501384         10600823
33          North Dakota    ND  ...           763724           765309
34                  Ohio    OH  ...         11696507         11693217
35              Oklahoma    OK  ...          3960676          3980783
36                Oregon    OR  ...          4216116          4241507
37          Pennsylvania    PA  ...         12798883         12783254
38          Rhode Island    RI  ...          1058158          1057125
39        South Carolina    SC  ...          5157702          5218040
40          South Dakota    SD  ...           887127           892717
41             Tennessee    TN  ...          6830325          6886834
42                 Texas    TX  ...         28986794         29360759
43                  Utah    UT  ...          3203383          3249879
44               Vermont    VT  ...           624046           623347
45              Virginia    VA  ...          8556642          8590563
46            Washington    WA  ...          7614024          7693612
47         West Virginia    WV  ...          1795263          1784787
48             Wisconsin    WI  ...          5824581          5832655
49               Wyoming    WY  ...           580116           582328
50  District of Columbia    DC  ...           708253           712816

[51 rows x 13 columns]

In [ ]:
df_2010_2020_states_trim.columns = [col[-4:].strip() if col.startswith("POPESTIMATE") else col for col in df_2010_2020_states_trim]

df_2010_2020_states_trim.query('state_name=="Alabama"')

  state_name abbrv     2010     2011  ...     2017     2018     2019     2020
0    Alabama    AL  4785514  4799642  ...  4877989  4891628  4907965  4921532

[1 rows x 13 columns]

In [ ]:
df_census_2000_2020 = df_2000_2009.merge(df_2010_2020_states_trim,on=["state_name","abbrv"],how="left")

In [ ]:
df_census_2000_2020.head()

   state_name abbrv        2000  ...      2018      2019      2020
0     Alabama    AL   4452173.0  ...   4891628   4907965   4921532
1      Alaska    AK    627963.0  ...    736624    733603    731158
2     Arizona    AZ   5160586.0  ...   7164228   7291843   7421401
3    Arkansas    AR   2678588.0  ...   3012161   3020985   3030522
4  California    CA  33987977.0  ...  39437463  39437610  39368078

[5 rows x 23 columns]

In [ ]:
df_complete = (df_census_2000_2020.melt(id_vars=["state_name","abbrv"], var_name="year", value_name="state_population")
                .reset_index(drop=True)
                )

df_complete.head()

   state_name abbrv  year  state_population
0     Alabama    AL  2000         4452173.0
1      Alaska    AK  2000          627963.0
2     Arizona    AZ  2000         5160586.0
3    Arkansas    AR  2000         2678588.0
4  California    CA  2000        33987977.0

In [ ]:
df_complete["year"].unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020'], dtype=object)

In [ ]:
df_complete.groupby("year").count()

      state_name  abbrv  state_population
year
2000          51     51                51
2001          51     51                51
2002          51     51                51
2003          51     51                51
2004          51     51                51
2005          51     51                51
2006          51     51                51
2007          51     51                51
2008          51     51                51
2009          51     51                51
2010          51     51                51
2011          51     51                51
2012          51     51                51
2013          51     51                51
2014          51     51                51
2015          51     51                51
2016          51     51                51
2017          51     51                51
2018          51     51                51
2019          51     51                51
2020          51     51                51

In [ ]:
#df_complete.drop(columns=["state_name"]).to_csv("data/percapita/us_census/us_census_2000_2020.csv",index=False)

In [ ]:
import plotly.express as px

px.line(df_complete,x="year",y="state_population",color="state_name",title="US State Population")